%{
    if(_object) {
        currentObject = _object
        currentType = _('controllers.CRUD$ObjectType').forClass(_object.getClass().getName())
    } else if(_class) {
        currentObject = null;
        currentType = _('controllers.CRUD$ObjectType').forClass(_class)
    } else {
        currentObject = _caller.object
        currentType = _caller.type
    }

    // Eval fields tags
    def fieldsHandler = [:]
    if(_body) {
        _body.setProperty('fieldsHandler', fieldsHandler);
        _body.toString(); // we skeep the real result ...
    }
}%
%{ def field = currentType.getField(fieldName) }%


<div class="crudField crud_text">
<label for="game">
           &{'game'}
       	</label>
	<input type="text" value="${currentObject['game']}" name="game_show" readonly="readonly">
	<input type="hidden" value="${currentObject['game'].id}" name="game" id="game">
</div>

<div class="crudField crud_relation">
	#{field 'object.ct1'}
       <select name="selName1" id="selName1" >
        	<option value="" >请选择...</option>
	        #{list items:controllers.GameCarousels.findSimpleCarouselType(), as:'c'}
	        		<option value="${c.id}" ${c.id == currentObject.ct1?.id? 'selected="true"'.raw() : ''}>${c}</option>
	        #{/list}
        </select>
           <input type="button" value="查询" onclick="change1(1, 1);"/>
           <label for="ct1">
		           播放信息1
       	</label>
       <select name="ad_name1" id="ad_id1" >
        	<option value="" >请选择...</option>
       </select>
       <input type="button" name="" id="b_sel_1" value="清除" onclick="clearSel(1);">
  	#{/field}
</div>


<div class="crudField crud_relation">
	#{field 'object.ct2'}
       <select name="selName2" id="selName2" >
        	<option value="" >请选择...</option>
	        #{list items:controllers.GameCarousels.findSimpleCarouselType(), as:'c'}
	        		<option value="${c.id}" ${c.id == currentObject.ct2?.id? 'selected="true"'.raw() : ''}>${c}</option>
	        #{/list}
        </select>
           <input type="button" value="查询" onclick="change1(2, 1)"/>
            	<label for="ct2">
		           播放信息2
       	</label>
       <select name="ad_name2" id="ad_id2" >
        	<option value="" >请选择...</option>

        </select>
        <input type="button" name="" id="b_sel_1" value="清除" onclick="clearSel(2);">
  	#{/field}
</div>

<div class="crudField crud_relation">
	#{field 'object.ct3'}
       <select name="selName3" id="selName3" >
        	<option value="" >请选择...</option>
	        #{list items:controllers.GameCarousels.findSimpleCarouselType(), as:'c'}
	        		<option value="${c.id}" ${c.id == currentObject.ct3?.id? 'selected="true"'.raw() : ''}>${c}</option>
	        #{/list}
        </select>
           <input type="button" value="查询" onclick="change1(3, 1)"/>
           <label for="ct3">
		           播放信息3
       	</label>
       <select name="ad_name3" id="ad_id3" >
        	<option value="" >请选择...</option>
	
        </select>
        <input type="button" name="" id="b_sel_1" value="清除" onclick="clearSel(3);">
  	#{/field}
</div>
    	


<div class="crudField crud_relation">
	#{field 'object.ct4'}
       <select name="selName4" id="selName4" >
        	<option value="" >请选择...</option>
	        #{list items:controllers.GameCarousels.findSimpleCarouselType(), as:'c'}
	        		<option value="${c.id}" ${c.id == currentObject.ct4?.id? 'selected="true"'.raw() : ''}>${c}</option>
	        #{/list}
        </select>
           <input type="button" value="查询" onclick="change1(4, 1)"/>
           <label for="ct4">
		           播放信息4
       	</label>
       <select name="ad_name4" id="ad_id4" >
        	<option value="" >请选择...</option>

        </select>
        <input type="button" name="" id="b_sel_1" value="清除" onclick="clearSel(4);">
  	#{/field}
</div>

    	


<div class="crudField crud_relation">
	#{field 'object.ct5'}
       <select name="selName5" id="selName5" >
        	<option value="" >请选择...</option>
	        #{list items:controllers.GameCarousels.findSimpleCarouselType(), as:'c'}
	        		<option value="${c.id}" ${c.id == currentObject.ct5?.id? 'selected="true"'.raw() : ''}>${c}</option>
	        #{/list}
        </select>
           <input type="button" value="查询" onclick="change1(5, 1)"/>
           <label for="ct5">
		           播放信息5
       	</label>
       <select name="ad_name5" id="ad_id5" >
        	<option value="" >请选择...</option>

        </select>
        <input type="button" name="" id="b_sel_1" value="清除" onclick="clearSel(5);">
  	#{/field}
</div>

<script type="text/javascript">

for(var i=0;i<=7;i++){
	change1(i, 0);
}

function change1(field_num, flag){
	var method = "/gamecarousels/getentitylist?selval="+$("#selName"+field_num).val()+"&gid="+$("#game").val()+"&id=${currentObject._key()}&mType=${currentObject.mtype}";
	
	loadXMLDoc(method, field_num, flag);
}
 
function loadXMLDoc(m, field_num, flag){
	var xmlhttp;

	if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}else{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	
	xmlhttp.onreadystatechange=function(){

		if (xmlhttp.readyState==4 && xmlhttp.status==200){
		    jsonData=xmlhttp.responseText;
		    var json = eval("(" + jsonData + ")"); 
	//	    document.getElementById("myDiv1").innerHTML=json.state;
	//	    document.getElementById("myDiv2").innerHTML=json.msg;
			selectval = "";
			if(json.state == "0" && flag == 1){
				$("#ad_id"+field_num).empty();
				selectval = "<option value=''>请重新查询...</option>";
				alert("没有可用数据");
			}else{
				var jsonArray = json.results;
				
				for(var i=0;i<jsonArray.length;i++){
					x = '';
					switch (field_num){
					case 1:
					  x='${currentObject.ad_id1}'==jsonArray[i].id? "selected='true'":"";
					  break;
					case 2:
						x='${currentObject.ad_id2}'==jsonArray[i].id? "selected='true'":"";
					  break;
					case 3:
						x='${currentObject.ad_id3}'==jsonArray[i].id? "selected='true'":"";
					  break;
					case 4:
						x='${currentObject.ad_id4}'==jsonArray[i].id? "selected='true'":"";
					  break;
					case 5:
						x='${currentObject.ad_id5}'==jsonArray[i].id? "selected='true'":"";
					  break;
					}
					selectval += "<option value='"+jsonArray[i].id+"' "+x+" >"+jsonArray[i].title+"</option>";
				}
			}
			document.getElementById("ad_id"+field_num).innerHTML=selectval;
		
		}
	}
	xmlhttp.open("GET",m,true);
	xmlhttp.send();
}

function clearSel(num){
	selectval = "<option value=''>请重新查询...</option>";
	document.getElementById("ad_id"+num).innerHTML=selectval;
	$("#selName"+num).val("请选择...");
        

}
</script>
    	
